.container {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-bottom: 24px;

  & a {
    text-decoration: none;
  }
}

.separator {
  flex: 1;
}

.icon {
  width: 96px;
  height: 96px;
}
