.panel-hide {
  opacity: 0;

  // height: auto;
  // max-height: 80vh;
  max-width: 600px;

  transition: opacity 0.3s ease;

  border-radius: 12px;
  color: #fffff5db;
  border: var(--xy-node-border, var(--xy-node-border-default));
  border-width: 4px;
  background-color: var(
    --xy-node-background-color,
    var(--xy-node-background-color-default)
  );

  line-height: 24px;

  & a {
    text-decoration: underline #fffff5db;

    // Override :link :active :hover :visited
    color: #fffff5db;
  }
}

.panel-show {
  @extend .panel-hide;
  opacity: 1;
}

.container {
  overflow-y: auto;
  height: auto;
  max-height: 75vh;

  padding: 24px;
}

.container-inner {
  margin: 2px;

  & > * {
    margin: 16px 0;
  }
}
