.panel-hide {
  opacity: 0;

  max-height: 80vh;
  max-width: 600px;

  transition: opacity 0.3s ease;

  padding: 24px;
  border-radius: 12px;
  color: var(--xy-node-color, var(--xy-node-color-default));
  border: var(--xy-node-border, var(--xy-node-border-default));
  border-width: 4px;
  background-color: var(
    --xy-node-background-color,
    var(--xy-node-background-color-default)
  );
}

.panel-show {
  @extend .panel-hide;
  opacity: 1;
}

.container {
}
