@use 'reset';

.react-flow.dark {
  --xy-edge-stroke-width-default: 1;
}

.react-flow__edge-path {
  transition: stroke 0.1s ease;
}

.react-flow__edge:hover {
  --xy-edge-stroke-default: #bbbbbb;
}

.react-flow__node-default {
  width: unset;

  pointer-events: all;
  transition: border-color 0.1s ease;
  border-width: 2px;

  &:hover {
    border-color: #aaaaaa;
  }

  .selected > & {
    border-color: #666666;
  }
}
